$green:#00BC87;
$logowidth:50px;
$breakpoint-s:320px;
$breakpoint-m:480px;
$breakpoint-l:767px;
$breakpoint-xl:991px;
$breakpoint-xxl:1200px;

body{
  background-color: rgb(199, 199, 199);
  // for popup noscroll
}

.wrapper{
  z-index: 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 100%;
  height: 100%;

  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

  h1,h2,h3,h4{
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
  }

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




@media screen and (min-width: $breakpoint-m){

  
}

@media screen and (min-width: $breakpoint-l){

  
}

@media screen and (min-width: $breakpoint-xl){

  
}
@media screen and (min-width: $breakpoint-xxl){

  
}



.test{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  span{
    width: 100%;
    background-color: rgb(150, 118, 118);
    border:solid red 1px;
    line-height: 1;
    font-size: 10px;
    display: block;
  }
  font-size: 100px;
  line-height: 500px;
  text-align: center;
  min-height: 500px;
  background-color: rgb(212, 255, 218);
  &:nth-child(odd){
    background-color: rgb(128, 128, 128);
  }
}