$nav-color:#000000;
$nav-bgc:rgb(216, 156, 99);
$nav-hover:rgb(172, 144, 52);
$breakpoint-s:320px;
$breakpoint-m:480px;
$breakpoint-l:767px;
$breakpoint-xl:991px;
$breakpoint-xxl:1200px;
$logowidth:50px;